@model IEnumerable<Viewing>

@{
    ViewData["Title"] = "Details";
}
@foreach (var item in Model)
{

<h1>@Html.DisplayFor(model => item.MovieToShow.Title)</h1>

<div class="container">
    <hr >
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.MovieToShow.Title)
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.MovieToShow.Genre)
        </dd>
        <dt class="col-sm-2">
            Time of Screening
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.TimeOfScreening)
        </dd>
        <dt class="col-sm-2">
            Locale
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.LocaleToShow.LocaleName)
        </dd>
        <dt class="col-sm-2">
            Available Seats
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.AvailableSeats)
        </dd>
    </dl>
</div>
<div class="container">
    @if (item.AvailableSeats > 0)
    {
        <a asp-action="BookViewing" asp-route-id="@item.Id" class="btn btn-dark w-25 m-1">Book Viewing</a> <br />
    }
    <p>
        Movie is full
    </p>
</div>
}
